
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    margin-left: 20px;
}

/* Task one */

.navbar{
    width: 40%;
    height: 200px;
    margin-top: 25px;
    margin-left: 25px;
    color: white;
    
}

.navbar li{
    width: 35%;
    height: 30px;
    background-color: orange;
    border-bottom: 1px solid black;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

ol{
    list-style: none;
}


/* Task two */

.mainBox{
    height: 450px;
}

.one{
    width: 50%;
    background-color: rgb(212, 126, 126);
    margin-top: 25px;
}

.two{
    width: 70%;
    height: 80px;
    background-color: rgb(212, 126, 126);
    margin-top: 40px;
    margin-left: 40px;
    border: 5px solid rgb(122, 6, 6);
    padding-top: 25px;
    padding-left: 10px;
    font-size: 20px;
}

.three{
    width: 90%;
    height: 150px;
    background-color: rgb(212, 126, 126);
    margin-top: 60px;
    margin-left: 100px;
    border-top: 3px solid rgb(116, 115, 115);
    border-right: 7px dashed rgb(122, 6, 6);
    border-bottom: 8px double yellow;
    border-left: 15px solid black;
    padding-top: 2px;
    padding-left: 250px;
    font-size: 30px;
}


/* task three */


.bluebox{
    width: 35%;
    background-color: rgb(162, 229, 248);
    border: 5px solid whitesmoke;
    padding: 10px 10px;
    font-weight: bold;
}

#blox{
    text-align: center;
}

#bigButton{
    width: 120px;
    height: 30px;
    border: none;
}


/* task four */


.tableOne{
    width: 60%; 
    border: 3px solid rgb(227, 223, 223);
    border-collapse: collapse;
}

.tableOne th, td {
    border: 3px solid rgb(227, 223, 223);
    padding-left: 10px;
  }

.tableOne tr:nth-child(odd){
    background-color: #62f691;
    height: 40px;
    padding-left: 25px;
}

.tableOne tr:nth-child(even){
    background-color: white;
    height: 40px;
}

#tableHead{
    background-color: white;
    height: 40px;
    text-align: left;
}


/* task five */

.mainBoxTwo{
    height: 200px;
    margin-top: 25px;
}

.borderWidth{
    width: 60%;
    height: 25px;
    border: black;
}

.borderWidth p:first-child{
    border: solid 5px;
    margin-bottom: 10px;
}

.borderWidth p:nth-child(2){
    border: solid 3px;
    margin-bottom: 10px;
}

.borderWidth p:nth-child(3){
    border: solid 1px;
    margin-bottom: 10px;
}

.borderWidth p:nth-child(4){
    border: solid 4px;
    margin-bottom: 10px;
}

.borderWidth p:last-child{
    border-left: solid 8px;
    border-right: solid 8px;
    border-top: solid 5px;
    border-bottom: solid 5px;
    margin-bottom: 10px;
}


/* task six */

.mainBoxThree{
    height: 250px;
}

.mainBoxThree{
    font-size: 20px;
}

.redBox{
    width: 60%;
    height: 200px;
    border: 3px solid blue;
    background-color: red;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 435px;
    box-sizing: border-box;
}

.redBox>p{
    font-size: 20px;  
}


/* task seven */


.mainBoxFour{
    width: 60%;
    height: 300px;
}

.mainBoxFour h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.mainBoxFour p{
    font-size: 20px;
    margin-bottom: 20px;
}

.mainBoxFour p:nth-child(3){
    border: 4px solid red;
}

.mainBoxFour p:nth-child(4){
    border: 4px solid green;
}

.mainBoxFour p:last-child{
    border-top: 4px solid red;
    border-left: 4px solid yellow;
    border-bottom: 4px solid blue;
    border-right: 4px solid green;
}


/* task eight  */


.mainBoxFive{
    width: 60%;
    height: 550px;
    font-size: 22px;
    text-align: center;
    color: red;
}

.mainBoxFive p:first-child{
    height: 40px;
    border: 5px solid blue none;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(2){
    height: 40px;
    border: 5px dotted blue;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(3){
    height: 40px;
    border: 5px dashed blue;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(4){
    height: 40px;
    border: 5px solid blue;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(5){
    height: 40px;
    border: 5px double blue;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(6){
    height: 40px;
    border: 5px groove blue;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(7){
    height: 40px;
    border: 5px ridge blue;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(8){
    height: 40px;
    border: 5px inset blue;
    margin-bottom: 15px;
}

.mainBoxFive p:nth-child(9){
    height: 40px;
    border: 5px outset blue;
    margin-bottom: 15px;
}

.mainBoxFive p:last-child{
    height: 40px;
    border: 5px solid blue hidden;
    margin-bottom: 15px;
}


/* task nine */


.mainBoxSix{
    width: 60%;
    height: 200px;
}

.formOne input{
    width: 70%;
    height: 50px;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-top: none;
    border-bottom: none;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    box-sizing: border-box;
    display: block;
    background-color: rgb(29, 159, 214);
    color: white;
}


/* task ten */

.mainBoxSeven{
    width: 60%;
    height: 500px;
}

.cardOne {
    width: 50%;
    height: 450px;
    margin: 20px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: #fff;
}
.cardOne img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
.cardOne h2 {
    padding-left: 20px;
    font-size: 25px;
    box-sizing: border-box;
}
.cardOne p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}


/* task eleven */


.mainBoxEight{
    width: 90%;
    height: 600px;
    margin: auto;
}

.textBox{
    height: 210px;
    background-color: rgb(77, 179, 243);
    text-align: center;
    margin-bottom: 50px;
}

.textBox h1{
    font-size: 200px;
    color: white;
    text-shadow: 5px 8px black;
    display: inline-block;
}

.textBox h2{
    font-size: 120px;
    color: red;
    text-shadow: 5px 7px black;
    -webkit-text-stroke: 2px white;
    display: inline-block;
    padding-left: 100px;
    box-sizing: border-box;
}

.fiqureBox{
    height: 500px;
}

.fiqureBox div{
    border: 5px solid rgb(255, 187, 0);
    background-color: rgb(117, 29, 99);
    display: inline-block;
    margin: 50px 35px auto;
}

.fiqureBox div:first-child{
    width: 300px;
    height: 200px;
    border-radius: 3%;
}

.fiqureBox div:nth-child(2){
    width: 250px;
    height: 200px;
    border-radius: 35%;
}

.fiqureBox div:nth-child(3){
    width: 250px;
    height: 200px;
    border-radius: 50%;
}

.fiqureBox div:nth-child(4){
    width: 300px;
    height: 200px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.fiqureBox div:nth-child(5){
    width: 300px;
    height: 200px;
    border-top-left-radius:  100%;
}

.fiqureBox div:nth-child(6){
    width: 300px;
    height: 200px;
    border-radius: 20%;
}

.fiqureBox div:nth-child(7){
    width: 300px;
    height: 200px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.fiqureBox div:last-child{
    width: 300px;
    height: 200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}